/*
    This Source Code Form is subject to the terms of
    the Mozilla Public License, v.2.0. If a copy of
    the MPL was not distributed with this file, You
    can obtain one at http://mozilla.org/MPL/2.0/.
*/
/* ---- VARIABLES ---- */
/* ---- MAIN STYLING ---- */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #1c1a24;
  color: #e9ebf8;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 30px;
}
body ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #a29ee6;
}
a:hover {
  color: #775fe3;
}

::selection {
  background: #775fe3;
  color: #e9ebf8;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #e9ebf8;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #775fe3;
}

/* ---- MAIN NAV MENU ---- */
.sidenav {
  position: fixed;
  box-sizing: border-box;
  width: 280px;
  height: 100%;
  background-color: #e9ebf8;
}
.sidenav .main-buttons {
  margin: 64px 0;
  padding: 0;
  color: #1c1a24;
}
.sidenav .main-buttons li {
  text-transform: uppercase;
  font-family: "Crimson Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  font-weight: 600;
  color: #1c1a24;
}
.sidenav .main-buttons li:hover, .sidenav .main-buttons li:active, .sidenav .main-buttons li:focus {
  color: #775fe3;
}
.sidenav .main-buttons > li {
  padding: 16px 52px;
  box-sizing: border-box;
}
.sidenav .main-buttons > li .menu-icon {
  position: absolute;
  left: 12px;
  padding-top: 3px;
}
.sidenav .main-buttons > li:hover, .sidenav .main-buttons > li:active, .sidenav .main-buttons > li:focus {
  background-color: #d3d6e7;
  cursor: pointer;
}
.sidenav .main-buttons > li:hover .hidden, .sidenav .main-buttons > li:active .hidden, .sidenav .main-buttons > li:focus .hidden {
  width: 228px;
}
.sidenav .main-buttons a {
  text-decoration: none;
  color: #1c1a24;
}
.sidenav .main-buttons a:hover, .sidenav .main-buttons a:active, .sidenav .main-buttons a:focus {
  color: #775fe3;
}

.hidden {
  width: 0;
  height: 100%;
  padding: 64px 0px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  list-style-type: none;
  background-color: #d3d6e7;
  transition: all 0.3s ease-in-out;
}
.hidden li {
  padding: 16px 24px;
}
.hidden li:hover, .hidden li:active, .hidden li:focus {
  background-color: #c6cae0;
}
.hidden li:hover a,
.hidden li:hover svg, .hidden li:active a,
.hidden li:active svg, .hidden li:focus a,
.hidden li:focus svg {
  color: #775fe3;
}
.hidden li div.drop-search,
.hidden li ul.dropped {
  display: none;
}

.hidden .dropper {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hidden li svg {
  position: absolute;
  top: 4px;
  font-size: 18px;
  color: #1c1a24;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hidden li svg.submenu-icon {
  right: 0px;
  left: auto;
  font-size: 16px;
}

.hidden li.open .dropper {
  color: #775fe3;
}

.hidden li.open svg {
  color: #775fe3;
}

.hidden li.open svg.submenu-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropped {
  display: none;
}
.dropped input[type=text] {
  border: none;
  border-bottom: 2px solid #775fe3;
  margin-top: 12px;
  padding-bottom: 6px;
  width: 90%;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: transparent;
}
.dropped input[type=text]:focus {
  outline: none;
}

.dropdown {
  padding-left: 0;
}

::placeholder {
  color: #1c1a24;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #1c1a24;
}

::-ms-input-placeholder {
  color: #1c1a24;
}

.dropped ul.dropdown li.dropdown-item {
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

li.dropdown-item {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 0;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.dropdown-item:hover {
  background: #b63b4d;
  color: #FFF;
}

#logo-menu {
  position: fixed;
  padding: 16px 12px;
  width: 32px;
}
#logo-menu a:hover, #logo-menu a:active, #logo-menu a:focus {
  color: #775fe3;
}

/* ---- TIMELINE STYLING ---- */
#timeline {
  height: 100vh;
  position: relative;
  margin-left: 280px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#timeline #dataList {
  display: flex;
  position: absolute;
  left: 2%;
  top: 48vh;
}
#timeline #dataList .data-item {
  margin: 5px;
}
#timeline #dataList .timeline-icon {
  position: absolute;
  color: #1c1a24;
  background: #4d4863;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
  transform: rotate(0deg);
  transition: all 0.75s ease-in;
  transition-delay: 0s;
}
#timeline #dataList .timeline-icon:hover {
  background: #775fe3;
  transition: 0.5s ease-in;
}
#timeline #dataList .timeline-icon.expand {
  color: #e9ebf8;
  background: #775fe3;
  transform: rotate(-450deg);
  transition-delay: 0s;
}
#timeline #dataList .list-item-data {
  background: #1c1a24;
  border: 1px solid #4d4863;
  color: #e9ebf8;
  width: 24px;
  height: auto;
  max-height: 24px;
  max-width: 350px;
  transition: all 0.75s ease-in;
  transition-delay: 0s;
}
#timeline #dataList .list-item-data div {
  opacity: 0;
}
#timeline #dataList .list-item-data.expand {
  border: 2px solid #775fe3;
  width: 350px;
  max-height: 285px;
  max-width: 350px;
  padding: 10px 22px 15px 22px;
  border-radius: 0;
  border-top-left-radius: 12px;
}
#timeline #dataList .list-item-data.expand div {
  opacity: 1;
  transition-delay: 0.75s;
}
#timeline #dataList .list-item-data.expand .row1,
#timeline #dataList .list-item-data.expand .row2 {
  white-space: normal;
  overflow-wrap: break-word;
}
#timeline #dataList .list-item-data.expand .row1 {
  border-bottom: 1px solid #4d4863;
  margin-bottom: 15px;
}
#timeline #dataList .list-item-data.expand .row1 .date {
  text-align-last: justify;
}
#timeline #dataList .list-item-data.expand .row1 p:first-of-type {
  font-family: "Crimson Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #4d4863;
}
#timeline #dataList .list-item-data.expand .row2 {
  overflow-y: auto;
  max-height: 150px;
  padding-right: 15px;
  text-align: justify;
}
#timeline #dataList .list-item-data.expand .row2 .description {
  line-height: 25px;
}
#timeline #dataList .list-item-data.expand .row2 .item-meta {
  padding-left: 0;
}
#timeline #dataList .list-item-data.expand .row2 .item-meta li {
  font-family: "Crimson Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
}
#timeline #dataList .list-item-data.expand .row2 .item-meta .tags {
  padding-left: 0;
}
#timeline #dataList .list-item-data.expand .row2 .item-meta .tags li {
  background: #4d4863;
  padding: 0px 5px 0px 5px;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 500;
}
#timeline #dataList .list-item-data.expand .row2 .item-meta .citation {
  text-align: left;
}
#timeline #dataList .list-item-data.expand .row2 .item-meta .citation li {
  background: none;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #4d4863;
}
#timeline #dataList .list-item-data.expand .row2 .item-meta .citation li:last-child {
  border: none;
}
#timeline #dataList .list-item-data.expand .row2 .meta-tag {
  display: inline-block;
  margin: 5px 5px 5px 0px;
}
#timeline .tooltip {
  width: 0px;
  height: 0px;
  max-width: 110px;
  max-height: 0px;
  position: relative;
  z-index: 2;
  bottom: 60px;
}
#timeline .tooltip .tooltip-text {
  opacity: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 3px 10px 3px 10px;
  border: 2px solid #775fe3;
  color: #e9ebf8;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
#timeline .tooltip .tooltip-text .tooltip-year {
  color: #918ea7;
  font-style: italic;
}
#timeline .timeline-icon:hover + .tooltip .tooltip-text {
  opacity: 1;
  transition: 0.5s ease-in;
  cursor: pointer;
}
#timeline p {
  margin: 0;
}

.templates {
  height: 0;
}
.templates div,
.templates ul,
.templates li {
  height: 0;
}
.templates .timeline-icon,
.templates .item-meta {
  visibility: hidden;
  height: 0;
  margin: 0;
}

.timeline-line {
  display: block;
  position: absolute;
  top: 50vh;
  height: 2px;
  width: 100%;
  background: #4d4863;
}

/* ---- Timeline Item Scrollbars ---- */
.row2::-webkit-scrollbar {
  width: 2px;
}

.row2::-webkit-scrollbar-thumb {
  border: 2px;
  background-color: #775fe3;
}

.row2::-webkit-scrollbar-track {
  border: 2px;
  background-color: #4d4863;
}

/* ---- SUBPAGE STYLING ---- */
#middle {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 1px solid #775fe3;
}

#pageContent {
  float: right;
  width: 538px;
  height: 428px;
  padding: 32px 36px 32px 43px;
  overflow-x: auto;
  background: #1c1a24;
  border-top: 4px solid #1c1a24;
  border-bottom: 4px solid #1c1a24;
}

#pageContentContainer {
  padding: 0px 15px;
}
#pageContentContainer h1,
#pageContentContainer h2 {
  margin-top: 0px;
}
#pageContentContainer h1 {
  font-size: 26px;
  text-transform: uppercase;
}
#pageContentContainer span.page-h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #775fe3;
}
#pageContentContainer h2 {
  font-size: 22px;
  font-style: italic;
}
#pageContentContainer p {
  font-size: 15px;
}
#pageContentContainer ol {
  padding: 0px 0px 0px 15px;
}
#pageContentContainer table {
  padding: 0px;
  border-collapse: collapse;
}
#pageContentContainer table th,
#pageContentContainer table td {
  padding: 0px 10px 0px 10px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #33313b;
}
#pageContentContainer table th {
  font-family: "Crimson Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#pageContentContainer table td {
  font-size: 14px;
}
#pageContentContainer a {
  text-decoration: none;
  color: #a29ee6;
}
#pageContentContainer a:hover {
  color: #775fe3;
}

#pageLogo {
  padding: 42px;
  text-align: center;
  background: #1c1a24;
}

#pageLogoBorder {
  width: 90px;
  height: 90px;
  border: 1px solid #775fe3;
}
#pageLogoBorder img {
  width: 70px;
  margin-top: 10px;
}

#pageSidebar {
  float: left;
  width: 104px;
  height: 100%;
  padding: 20px 35px 15px 35px;
  margin-top: 2px;
  text-align: center;
  background: #1c1a24;
  border-bottom: 10px solid #1c1a24;
}

#pageNavLinks {
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: left;
  list-style-type: none;
}
#pageNavLinks li {
  padding: 5px 0px;
}
#pageNavLinks li a {
  display: block;
  padding: 14px 0px;
  font-family: "Crimson Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #e9ebf8;
}
#pageNavLinks li a:hover {
  color: #775fe3;
}

/* ---- Page Scrollbars ---- */
#pageContent::-webkit-scrollbar {
  width: 18px;
  height: 3px;
  background: #1c1a24;
}

#pageContent::-webkit-scrollbar-thumb {
  border: 8px solid #1c1a24;
  background-color: #775fe3;
}

#pageContent::-webkit-scrollbar-track {
  border: 2px;
  background-color: #1c1a24;
}

/*# sourceMappingURL=main.css.map */
