/*
    This Source Code Form is subject to the terms of
    the Mozilla Public License, v.2.0. If a copy of
    the MPL was not distributed with this file, You
    can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* ---- VARIABLES ---- */
$font-header: "Crimson Pro",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$font-body: "Mulish",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$bg: #1c1a24; // background
$mid1: #33313b;
$mid2: #4d4863;
$mid3: #918ea7;
$mid4: #d3d6e7;
$fg: #e9ebf8; // foreground
$accent: #775fe3;
$accent2: #a29ee6;

$width: 280px;
$width-compressed: 52px;

$item-height-head: 100px;
$item-height-desc: 150px;
$item-height-expand: 200px;
$item-full-height: $item-height-head+$item-height-desc+$item-height-expand;
$item-width: 250px;

/* ---- MAIN STYLING ---- */
body {
    margin: 0;
    padding: 0;
    background: $bg;
    color: $fg;
    font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-header;
}

::selection {
    background: $accent;
    color: $fg;
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: $fg;
}


::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: $accent;
    // border-top: 3px solid $bg;
}

/* ---- MAIN NAV MENU ---- */
.sidenav {
    position: fixed;
    box-sizing: border-box;
    width: $width;
    height: 100%;
    background-color: $fg;

    .main-buttons {
        list-style-type: none;
        margin: 64px 0;
        padding: 0;
        color: $bg;

        li {
            text-transform: uppercase;
            font-family: $font-header;
            font-size: 1.5rem;
            font-weight: 600;
            color: $bg;

            &:hover,
            &:active,
            &:focus {
                color: $accent;
            }
        }

        &>li {
            padding: 16px $width-compressed;
            box-sizing: border-box;

            .menu-icon {
                position: absolute;
                left: 12px;
                padding-top: 3px; // align with Crimson Font
            }

            &:hover,
            &:active,
            &:focus {
                .hidden {
                    width: $width - $width-compressed;
                }

                background-color: $mid4;
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            color: $bg;

            &:hover,
            &:active,
            &:focus {
                color: $accent;
            }
        }
    }
}

.hidden {
    width: 0;
    height: 100%;
    padding: 64px 0;

    position: absolute;
    top: 0;
    right: 0;

    overflow: hidden;

    list-style-type: none;
    background-color: $mid4;
    transition: all 0.3s ease-in-out;

    li {
        padding: 16px 24px;

        &:hover,
        &:active,
        &:focus {
            background-color: darken($mid4, 4);

            a {
                color: $accent;
            }
        }
    }
}

body {
    line-height: 30px;
}

html,
body {
    height: 100%;
}

#logo-menu {
    position: fixed;
    padding: 16px 12px;
    width: 32px;

    a {

        &:hover,
        &:active,
        &:focus {
            color: $accent;
        }
    }

}

/* ---- TIMELINE STYLING ---- */
#timeline {
    height: 100vh;
    position: relative;
    margin-left: $width;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    #dataList {
        display: flex;
        position: absolute;
        left: 5%;
        top: 45vh;

        .data-item {
            margin: 5px;
        }

        .timeline-icon {
            position: absolute;
            cursor: pointer;
            transform: rotate(0deg);
            transition: all .75s ease-in;
            transition-delay: 0s;

            &.expand {
                transform: rotate(405deg);
                transition-delay: 0s;
            }
        }

        .list-item-data {
            background: $bg;
            border: 0px solid $bg;
            color: $fg;
            width: 24px;
            height: auto;
            max-height: 24px;
            max-width: $item-width;
            border-radius: 50%;
            transition: all .75s ease-in;
            transition-delay: 0s;

            div {
                visibility: hidden;
            }

            &.expand {
                border: 3px solid $mid2;
                width: $item-width;
                height: $item-height-head + $item-height-desc;
                max-height: $item-full-height;
                max-width: $item-width;
                padding: 24px;
                border-radius: 0;
                border-top-left-radius: 12px;

                .row1,
                .row2,
                .row3 {
                    visibility: visible;
                    white-space: normal;
                    overflow-wrap: break-word;
                }

                // Description boxes
                .description {
                    overflow-y: auto;
                    max-height: $item-height-desc;
                    padding-right: 15px;
                }
            }
        }
    }

    // REMOVE LATER
    p {
        margin: 0;
    }
}

.templates {

    // Hides template HTML
    .timeline-icon {
        visibility: hidden;
    }
}

.timeline-line {
    display: block;
    position: absolute;
    top: 50vh;
    height: 3px;
    width: 100%;
    background: $mid2;
}

/* ---- Timeline Item Scrollbars ---- */
.description::-webkit-scrollbar {
    width: 3px;
}

.description::-webkit-scrollbar-thumb {
    border: 2px;
    background-color: $accent;
}

.description::-webkit-scrollbar-track {
    border: 2px;
    background-color: $mid2;
}